{{!-- <div class="container-fluid">
    <h2>Here are your blogs...</h2>

    <ul>
        {{#each blogs}}
        <li>
            <h1>{{this.title}}</h1><br>
        </li>
        <li>{{this.description}}</li><br>
        <li>{{{this.sanitizedHtml}}}</li>
        {{/each}}

    </ul>

</div> --}}
<div class="container">

    <div class="post-preview">

        <h2 class="post-title">
            {{blog.title}}
        </h2>
        <h3 class=>
            {{{blog.description}}}
        </h3>

        <p class="post-meta">Posted by <a href="/auth/user/profile/{{user._id}}"></a>{{user.firstName}}</a>
            on {{blog.date}}</p>
        <p>{{{blog.sanitizedHtml}}}</p>
    </div>
</div>